<?xml version='1.0' encoding='utf-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Twittermancy.</title>
    <link href='/application.css' media='screen' rel='stylesheet' type='text/css' />
  </head>
  <body>
    <div id="wrapper">
      <h1>Twitter Divination Tool</h1>
      <p>This is a tool for performing divination through the medium of <a href="http://twitter.com">Twitter</a>. You supply a keyword which we do a <a href="http://search.twitter.com">Twitter search</a> on, returning a tag-cloud-style jumble of words taken from matching Tweets, which you can interpret.</p>
<% if @error %>
  <p class="error"><%= @error %></p>
<% end %>
<% if @results %>
<p><% @results.each do | result | %>
  <span class="word_cloud_<%= rand(3) %>"><%= result[:word] %><span><%= result[:tweet] %></span></span> 
  <% end %></p>
<% end %>
  <form action='/' method='post'>
    <label for="text">Focus word</label>
    <input name='text' type='text' value='<%= @query %>'/>
    <input type='submit' value='Generate!' />
  </form>
      <p id='footer'>
        Copyright 2009,
        <a href='http://semantici.st'>John Daniels</a>
      </p>
    </div>
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-3709879-6");
    pageTracker._trackPageview();
    } catch(err) {}</script>
  </body>
</html>